<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LPP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="col-xs-12">
            <h3>Szymon Osadowski</h3>
            <h4><span class="glyphicon glyphicon-envelope"></span> szymon@osadowski.it</h4>
            <div class="panel panel-success">
                <div class="panel-heading">Zadanie 1</div>
                <div class="panel-body">
                    <p>
                        Poniżej znajduje się wynik wywołania funkcji <code>getResultForCollectionId</code> z serwisu <code>ItemService</code>
                    </p>
                    <pre>
                        {{ dump(brands) }}
                    </pre>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">Zadanie 2</div>
                <div class="panel-body">
                    Walidacja URL odbywa się na poziomie metody <code>setUrl()</code> z modelu <code>Item</code>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">Zadanie 3</div>
                <div class="panel-body">
                    <p>W folderze <code>src/Lpp/Service</code> znajdują się klasy <code>ItemService</code>, <code>MyBrandService</code>, <code>MyBetterBrandService</code>, <code>MyBetterServiceInterface</code></p>
                    <p>Komentarz odnośnie architektury znajduje się w pliku <code>BrandBetterServiceInterface</code></p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script></body>
</html>